extends layout

block content
    if (message)
        div.alert.alert-danger
            p !{message.message}
    .my-quizzes.container
        if quizzes.length > 0
            #quizzes.quizzes.list-group
                each quiz in quizzes
                    .quiz.list-group-item
                        .quiz-header.list-group-item-heading
                            h4.quiz-name= quiz.name
                            span.num-questions (#{quiz.questions.length} question#{quiz.questions.length === 1 ? '' : 's'})
                            p.list-group-item-text Created #{quiz.dateCreated}
                        .quiz-actions
                            if quiz.questions.length > 0
                                a.btn.btn-primary(href="/quiz/" + quiz._id)
                                    span.glyphicon.glyphicon-circle-arrow-right
                                    | Take the Quiz
                            a.btn.btn-info.edit-quiz-btn(href="/edit/" + quiz._id)
                                span.glyphicon.glyphicon-pencil
                                | Edit
        else
            p
                | You currently have no quizzes.
        div: a#create.btn.btn-success(href="/create")
            span.glyphicon.glyphicon-plus
            | Create a Quiz
