extends layout

block head
    link(rel='stylesheet', href='/styles/offcanvas.css')

block content
    .quiz-container(ng-app="swot", ng-controller="ViewQuizCtrl")

        .row.row-offcanvas.row-offcanvas-left

            #quiz-sidebar.sidebar-offcanvas.col-xs-6(ng-if="questions.length > 0")
                .list-group(ng-model="questions")
                    a.sidebar-question.list-group-item(href="#", ng-repeat="question in questions"
                        ng-click="jumpToQuestion($index)", ng-class="{active: (!showingSummary && $index === currentQuestionIndex)}")
                        span.question.ellipsis {{$index+1}}. {{question.questionHtml | htmlToPlainText}}
                        span.status.ng-cloak
                            span.glyphicon.correct.glyphicon-ok-sign(ng-show="question.result && question.result.isCorrect")
                            span.glyphicon.incorrect.glyphicon-remove-sign(ng-show="question.result && !question.result.isCorrect")

                    a.sidebar-summary-row.list-group-item(href="#", ng-show="isFinished()", ng-click="finish()", ng-class="{active: showingSummary}")
                        span.summary Summary

                    .list-group-item.progress-container(tooltip-html-unsafe="{{getScoreTooltip()}}", tooltip-placement="bottom")
                        progress
                            bar(type="success", value="numCorrect()/questions.length*100")
                            bar(type="danger", value="numIncorrect()/questions.length*100")

            .main.col-xs-12

                if (message != '')
                    div.alert.alert-danger
                        p !{message}
                alert.ng-cloak(ng-repeat="alert in alerts", type="alert.type", close="closeAlert($index)") {{alert.msg}}

                .quiz-body

                    button#toggle-sidebar.btn.visible-xs.visible-sm(data-toggle="offcanvas")
                        span.sr-only Toggle Quiz Sidebar
                        span.glyphicon.correct.glyphicon-th-list

                    .header.ng-cloak(ng-hide="showingSummary")
                        .header-row
                            .prev
                                a#prev(href="#", ng-click="prev()", ng-class="{disabled: currentQuestionIndex < 1}")
                                    span.glyphicon.glyphicon-circle-arrow-left
                                    span.hidden-xxs Previous
                            span.current Question {{currentQuestionIndex+1}} of {{questions.length}}
                            .next
                                a#next(href="#", ng-click="next()", ng-class="{disabled: currentQuestionIndex >= questions.length - 1}")
                                    span.hidden-xxs Next
                                    span.glyphicon.glyphicon-circle-arrow-right

                    .question-container(ng-hide="showingSummary")

                        viewquestion#question(question="currentQuestion()", submit="submit()"
                            show-next="!(isLastQuestion() && !isFinished())", next="next()"
                            next-button-text="isLastQuestion() ? 'Finish' : 'Next'")

                    .summary-container.ng-cloak(ng-show="showingSummary")
                        .header
                            h3 Summary
                        span Your Score:&nbsp;
                        span.score {{numCorrect()}} / {{questions.length}}
                        span.score-percent ({{score()}}%)
                        .summary-actions
                            button.back-to-quizzes.btn.btn-success(type="button", ng-click="exit()")
                                span.glyphicon.glyphicon-circle-arrow-left
                                | Back to Quizzes
                            button.retake.btn.btn-primary(type="button", ng-click="restart()")
                                span.glyphicon.glyphicon-refresh
                                | Retake

block scripts
    script.
        var _quizId = '!{quizId}';
    script(src="/filters/htmlToPlainText.js")
    script(src="/js/offcanvas.js")
    script(src="/services/quiz.js")
    script(src="/controllers/takeQuiz.js")
    script(src="/directives/viewQuestion.js")
