extends layout

block content
    .my-quizzes(ng-app="swot", ng-controller="MyQuizzesCtrl"
        ng-init="topics= #{JSON.stringify(topics)}; init();")
        .row

            // Topics sidebar
            #sidebar.sidebar.topics-sidebar.col-sm-4.col-md-3
                .topics-label Topics:

                abn-tree#topics(tree-data="topicTreeData", template-url="/partials/topicsSidebar.html", icon-leaf=""
                    icon-expand="glyphicon glyphicon-chevron-right", icon-collapse="glyphicon glyphicon-chevron-down"
                    on-rename="renameTopic(branch.data, newName)", tree-control="topicTree")

                button.btn.btn-sm(ng-click="addTopic('New Topic')")
                    span.glyphicon.glyphicon-plus
                    | Add

            // Main content
            .col-sm-8.col-sm-offset-4.col-md-9.col-md-offset-3.main

                ///////// TEMP DEBUG
                div.alert.alert-info
                    | {{currentPage}}
                div.alert.alert-info
                    | {{topics}}
                /////////

                // Error messages
                if (message)
                    div.alert.alert-danger
                        p !{message.message}

                .quizzes-container

                    // Subject header
                    //.my-quizzes-header.section-header
                    //    .current-subject.section-name-container
                    //        h1.subject-name.section-name(editable-text="currentSubject.name", e-form="btnEditSubject"
                    //            onbeforesave="updateSubjectName(currentSubject, $data)") {{currentSubject.name}}
                    //    .subject-actions.section-actions
                    //        button.btn.btn-xs.btn-info(type="button", ng-click="btnEditSubject.$show()")
                    //            span.glyphicon.glyphicon-pencil
                    //            | Edit

                    // Topics
                    .topics-container
                        .topic.section(ng-repeat="topic in currentSubject.topics")

                            // Topic header
                            .topic-header.section-header
                                .topic-name-container.section-name-container
                                    h3.topic-name.section-name(editable-text="topic.name", e-form="textBtnForm"
                                        onbeforesave="updateTopicName(topic, $data)") {{topic.name}}
                                .topic-actions.section-actions
                                    button.btn.btn-xs.btn-info(type="button", ng-click="textBtnForm.$show()")
                                        span.glyphicon.glyphicon-pencil
                                        | Edit

                            // Topic quizzes
                            .topic-quizzes.section-body.list-group
                                .quiz.list-group-item(ng-repeat="quiz in quizzes | filter: {topic: topic._id}")
                                    .quiz-info.list-group-item-heading
                                        a.quiz-name(href="/quiz/{{quiz._id}}") {{quiz.name}}
                                        //span.num-questions ({quiz.numQuestions}} question#{quiz.numQuestions === 1 ? '' : 's'})
                                        p.list-group-item-text Created {{quiz.dateCreated}}
                                    .quiz-actions
                                        a.btn.btn-xs.btn-info.edit-quiz-btn(href="/edit/{{quiz._id}}")
                                            span.glyphicon.glyphicon-pencil
                                            | Edit

                    // Create Quiz button
                    a.create-quiz.btn.btn-success(href="/create")
                        span.glyphicon.glyphicon-plus
                        | Create Quiz

block scripts
    script(src="/controllers/myQuizzes.js")